@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #e20000b3;
    --font-color-light: #fff;
    --background-color: #ffe9e9;
    --font-color-dim: #000;
    --background-overlay: #040d27b3;
    --review-shadow-color: #d1d1d1;
    --review-text-color: #838383;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway',
        sans-serif;
    overflow-x: hidden !important;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

html {
    scroll-behavior: smooth;
}

body a {
    color: var(--font-color-light);
    overflow-x: hidden !important;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------- */
/* MAIN SECTION */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--font-color-light);
}

video {
    object-fit: cover;
    /* object fit helps to cover the entire page with the video keep in mind */
    width: 100%;
    height: 100%;
    position: absolute;
    /* position fixed stretches to the bottom destryoing the layout of the page. However, absolute works just fine */
    top: 0;
    left: 0;
    z-index: -10;
}

.overlay {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-overlay);
}

/* ----------------------------------------------- */
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem;
}

/* ICON */
.main-icon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.main-icon-name .icon {
    margin-right: 1rem;
}

.icon a img {
    width: 40px;
}

/* NAVIGATION */

header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    list-style-type: none;
    padding: 0 0.9rem;
}

header nav ul li a {
    font-size: 0.8rem;
}

/* Below we created div like content with the helo of after pseudo */
header nav ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

header nav ul li:hover::after {
    width: 100%;
    /* color: var(--primary-color); */
}

.scroll-arrow {
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* You need to add transform translate 50% */
    cursor: pointer;
    transition: 0.5s;
}

/* --------------------------------------------------- */
/* SHOWCASE */
/* TEXT */
.showcase {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase .text {
    padding: 10px;
}

.showcase .text h1 {
    font-size: 2.8rem;
    font-weight: 900;
}

.showcase .text p {
    padding: 2rem 1rem 4rem;
    font-size: 1rem;
    font-weight: 400;
}

/* BUTTON */
.btn-center {
    font-size: 1rem;
    font-size: 700;
    padding: 1rem 1.4rem;
    border: 2px solid var(--font-color-light);
    transition: 0.5s;
}

.btn-center:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* MENU */
header .fa-times,
header .fa-bars {
    display: none;
}


/* ----------------------------------------------------------------------- */
/* SECOND SECTION COURSE*/
.course {
    color: var(--font-color-dim);
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 60px 0;
}


.course-text h1 {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 20px;
}

.course-text p {
    font-size: 1rem;
}

.course-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.course-boxes>* {
    background-color: var(--background-color);
    padding: 1.2em 1.6em;
    border-radius: 1rem;
    width: 100%;
    margin: 2em 1em;
}

.course-boxes>*:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.course-boxes>* h3 {
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 800;
}

.course-boxes>* p {
    font-size: 0.9rem;
    line-height: 1.6rem;
}

/* ----------------------------------------------------------------- */

/* THIRD SECTION CAMPUS */
.campus {
    text-align: center;
    width: 80%;
    min-height: 100vh;
    margin: auto;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.small-images {
    width: 250px;
    height: 450px;
    position: relative;
    margin: 40px 25px;
    border-radius: 1rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.small-overlay {
    opacity: 0.9;
    position: absolute;
    left: 0;
    bottom: -700px;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-overlay h3 {
    color: var(--font-color-light);
    position: relative;
    z-index: 10;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: 0.5s;
}

.small-images:hover .small-overlay {
    background-color: var(--primary-color);
    bottom: 0;
}


.small-images img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro-prgrph {
    font-size: 1.4rem;
}

/* -------------------------------- */
/* FOURTH SECTION FACILITIES */
.facilities {
    text-align: center;
    width: 80%;
    min-height: 100vh;
    margin: auto;
}

.facility-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.facility-box {
    width: 350px;
    margin: 40px 20px;
    text-align: left;
}

.img-facility {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 1rem;
}

.img-facility img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text-facilitiy {
    margin-top: 20px;
}

.text-facilitiy h4 {
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-weight: 800;
}

.text-facilitiy p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

/* ----------------------------------- */
/* SECTION REVIEW */
.reviews {
    margin: auto;
    width: 80%;
    padding: 60px 0 100px;
}

.reviews .course-text {
    text-align: center;
    padding-bottom: 40px;
}

.review-col {
    display: flex;
    gap: 1em;
    width: 100%;
}

.review-col .col {
    background-color: var(--background-color);
    border-radius: 1em;
    padding: 25px;
    display: flex;
    cursor: pointer;
    width: 100%;
}

.review-col .col div {
    width: 100%;
}

.review-col .col img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.review-col .col div h4 {
    padding: 20px 0;
}

.review-col .col div i {
    color: var(--primary-color);
}

.review-col .col div p {
    font-size: 0.9rem;
}

/* SECTION CONTACT */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('images/pexels-startup-stock-photos-7096.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color-light);
    padding: 3% 15% 0;
}

.image-contact h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

/* ABOUT SECTION */
.about-container {
    width: 100%;
    min-height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 40px 0;
}

.about-container a {
    color: #000;
}

.about-container h3,
.about-container p,
.social-icons {
    padding-bottom: 30px;
}

.about-container h3 {
    font-size: 1.3rem;
    font-weight: 800;
}

.about-container p {
    font-size: 0.9rem;
}

.social-icons i {
    padding: 10px 15px;
    cursor: pointer;
    color: var(--primary-color);
}

.about-container p span {
    cursor: pointer;
}

.social-icons .fa-facebook-f:hover {
    color: navy;
}

.social-icons .fa-twitter:hover {
    color: rgb(0, 191, 255);
}

.fa-linkedin-in:hover {
    color: rgb(56, 149, 255);
}

.social-icons .fa-instagram:hover {
    color: orange;
}

.about-container p span:hover {
    color: var(--primary-color);
}

/* MEDIA QUERY */

@media (max-width: 700px) {

    /* SCROLL */
    .scroll-arrow {
        display: none;
    }

    /* HOME PAGE */
    .main-icon-name .name h1 {
        font-size: 1.4rem;
    }

    /* NAVIGATION */
    header nav {
        position: absolute;
        background: var(--primary-color);
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        z-index: 10;
        text-align: left;
        padding: 3rem 0 0 5rem;
        transition: 1s;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        padding: 0.8rem 0;
    }

    header nav ul li a {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1.8px;
    }

    header nav ul li:hover::after {
        width: 0;
    }

    header nav .fas {
        margin-bottom: 1rem;
    }

    .container-about h2 {
        font-size: 1.3rem;
    }

    /* MENU */
    header .fa-times,
    header .fa-bars {
        display: block;
        color: var(--border-color);
        font-size: 1.2rem;
        cursor: pointer;
    }

    /* SHOWCASE */
    .showcase .text h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    /* -------------------------------------------------------------------------------------- */
    /* SECTION 2 */
    .course {
        width: 90%;
    }

    .course-text h1 {
        font-size: 1.6rem;
        font-weight: 800;
    }

    .course-boxes {
        flex-wrap: wrap;
    }

    .course-boxes>* {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        cursor: pointer;

    }

    .course-boxes>* h3 {
        padding-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .course-boxes>*p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    /* CAMPUS SECTION */
    .campus {
        width: 90%;
    }

    /* REVIEW SECTION */
    .reviews {
        width: 90%;
    }

    .review-col {
        flex-wrap: wrap;
    }

    /* -------------------------------------------------------------------- */
    /* SECTION 4 FACILITIES */
    .facility-box {
        text-align: center;
    }

    .facility-flex {
        flex-wrap: wrap;
    }

    .facilities {
        width: 90%;
    }

    /* CONTACT SECTION */
    .image-contact h1 {
        font-size: 1.6rem;
    }
}


/* -----------------------------ABOUT PAGE (SECOND PAGE)------------------------------ */
/* ABOUT PAGE */

.container-about {
    /* background: gray; */
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("images/edwin-andrade-4V1dC_eoCwg-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--font-color-light);
    font-size: 1.4rem;
}

.container-about h2 {
    margin-top: 100px;
}

/* Second Section */

.top {
    margin: auto;
    width: 80%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-first {
    padding: 30px 2px;
}

.about-first h1 {
    padding-top: 0;
}

.about-first p {
    padding: 15px 0 35px;
    line-height: 1.4rem;
}

.about-first a {
    color: red;
}

.about-first {
    width: 48%;
}

.about-image {
    width: 48%;
    height: 500px;
    background: url("images/clement-dellandrea-HHlQjEL4RFc-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 700px) {
    .top {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .about-first {
        margin-bottom: 40px;
        width: 100%;
    }

    .about-image {
        width: 100%;
    }
}

/* ------------------------------------------------ */
/* CONTACT PAGE */
.map-child {
    width: 80%;
    padding: 80px 0;
    margin: auto;
    margin-bottom: 100px;
}

.map-child iframe {
    width: 100%;
    height: 500px;
    border: none;
}

/* ADDRESS TEXT */
.address {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}

.address-text div {
    display: flex;
    margin-bottom: 20px;
}

.address-text div i {
    margin-right: 15px;
    font-size: 28px;
    color: var(--primary-color);
}

.address-text div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.address-input input,
.address-input textarea {
    width: 100%;
    padding: 15px;
    outline: none;
    margin-bottom: 17px;
    border: 1px solid #ccc;
}

.red-btn {
    font-size: 0.8rem;
    font-size: 700;
    padding: 0.5rem 2rem;
    border: 2px solid var(--primary-color);
    transition: 0.5s;
    background-color: var(--font-color-light);
    cursor: pointer;
    color: var(--primary-color);
}

.red-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--font-color-light);
}

@media (max-width: 700px) {
    .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .address-text {
        margin-bottom: 40px;
    }

    .address-input form {
        text-align: center;
    }
}


/* ----------------------------------------- */
/* BLOG PAGE */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

/* Left Side */
.blog-left {
    width: 60%;
}

.blog-left img {
    max-width: 100%;
}

.blog-left h2 {
    padding: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: justify;
}

/* Right Side */
.blog-right {
    max-width: 35%;
    min-width: 35%;
    margin-left: 20px;
}

.blog-right h3 {
    padding: 10px 0;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.comment {
    width: 100%;
    border: 1px solid #dddd;
    margin-top: 40px;
    padding: 10px;
}

.comment form input,
.comment form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
    border: none;
    outline: none;
}

form input:valid {
    border: 1px solid lime;
}

form textarea {
    resize: none;
}

form textarea:valid {
    border: 1px solid lime;
}

.comment form button {
    margin-top: 10px;
}

@media (max-width: 700px) {
    .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .blog-left {
        width: 80%;
    }

    .blog-right {
        margin-top: 40px;
        margin-left: 0;
        max-width: 80%;
        min-width: 80%;
    }
}